<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.hackerton.mapper.CategoryMapper">

    <!-- Category ResultMap -->
    <resultMap id="CategoryResultMap" type="com.example.hackerton.domain.Category">
        <id property="categoryId" column="category_id"/>
        <result property="categoryName" column="category_nm"/>
    </resultMap>

    <!-- 모든 카테고리 조회 -->
    <select id="findAllCategories" resultMap="CategoryResultMap">
        SELECT category_id, category_nm
        FROM category
        ORDER BY category_nm
    </select>

</mapper>
