<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.hackerton.mapper.FestivalLogMapper">

    <!-- FestivalLog ResultMap -->
    <resultMap id="FestivalLogResultMap" type="com.example.hackerton.domain.FestivalLog">
        <id property="logId" column="log_id"/>
        <result property="festivalId" column="festival_id"/>
        <result property="promoIncrease" column="promo_increase"/>
        <result property="budgetIncrease" column="budget_increase"/>
        <result property="promoIncreaseRate" column="promo_increase_rate"/>
        <result property="budgetIncreaseRate" column="budget_increase_rate"/>
        <result property="evidenceSummary" column="evidence_summary"/>
        <result property="forecastRevenue" column="forecast_revenue"/>
        <result property="forecastVisitors" column="forecast_visitors"/>
        <result property="createDt" column="create_dt"/>
        <result property="deleteYn" column="del_yn"/>
    </resultMap>

</mapper>
